<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UGD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="vue.js"></script>
</head>
<body>
    <div id="app" class="container" >
        <div class="col-md-5 mt-5 mx-auto" > 
            <div class="card card-body" style="background-color: #D3D3D3;">
                <div class="text-center mb-4">
                    <h3>Game Tebak Angka 1-10</h3>                    
                </div>                
                <div v-show="output">
                    <div class="alert alert-danger" v-if="hasil == 'cobalagi'">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Tebakan salah, masih ada {{ kesempatan }} kesempatan.
                        <button class="btn btn-danger" @click="btnCoba">Coba Lagi</button>                
                    </div>
                    <div class="alert alert-dark" v-else-if="hasil == 'habis'">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Kesempatan habis, {{ angka }} adalah jawabannya. Ayo main lagi.
                        <button class="btn btn-dark" @click="btnMain">Main Lagi</button>
                    </div>        
                    <div class="alert alert-success" v-else-if="hasil == 'benar'">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Tebakan benar, jawabannya {{ angka }}. Ayo main lagi.                
                        <button class="btn btn-primary" @click="btnMain">Main Lagi</button>
                    </div>
                </div>
                        
                <div class="form-group has-success">
                    <input type="number" class="form-control" v-model="input" :disabled="isDisabled" min="1" max="10"/>
                </div>

                <button class="btn btn-warning" @click="btnTebak" :disabled="isDisabled">Tebak</button>                
                                            
            </div>
        </div>

        <footer class="text-center mt-1" style="bottom: 0; width: 82%; position: absolute;">
            {{rastra.nama}} | {{rastra.npm}} | {{rastra.kelas}}
            <br>
            Angka {{angka}}
            <br>
            Kesempatan {{kesempatan}}
        </footer>
    </div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            angka: Math.floor(Math.random()*10)+1,
            input: 1,
            kesempatan: 3,            
            output: null,
            hasil: null,
            isDisabled:false,
            rastra: {
                nama:'Made Rastra Kidyana',
                npm: '180709618',
                kelas: 'D',
            },
        },
        methods: {
           btnTebak(){
            this.output = 1;
            this.isDisabled = true;
            if(this.input == this.angka){                
                this.hasil = 'benar';                
            }else {                
                this.kesempatan--;
                if(this.kesempatan==0){
                    this.hasil = 'habis';                                       
                }else {
                    this.hasil = 'cobalagi';
                }
            }       
           },
           btnCoba(){
                this.isDisabled = false;
                this.output = 0;             
           },
           btnMain(){
               location.reload();
           }
        },
    });
</script>
</html>